backend/target/debug
backend/target/release/build
backend/target/release/.fingerprint
backend/target/release/deps
backend/target/release/examples
backend/target/release/inremental
datastatic
node_modules
development.log
production.log
test.log
