{{#contentFor 'head:title'}} Zinsvergleiche – der-markt.com  {{/contentFor}}

<main>
  <h1>der-markt.com - Zinsvergleiche</h1>
  <article>
    <h1>{{loaderData.title}}</h1>
    <p>
      Inflation ist kein Phänomen der letzten Monate.
    </p>
  </article>

  {{{htmlText}}}
</main>
