:root {
  --color__primary--light: #ffe6ba;
  --color__primary--lighter: #ffd760;
  --color__primary: #f8c568;
  --color__primary--dark: #b78120;
  --color__text: #cccccc;
  --font-family__body: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family__headline: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  --font-size: 1rem;
  --font-size__medium: calc(var(--font-size) * 1.4);
  --font-size__big: calc(var(--font-size__medium) * 1.4);
  --font-size__large: calc(var(--font-size__big) * 1.4);
  --flex-gap: 0.5rem;
}

.dm-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dm-page__header {
  margin: 0;
  padding: 0;
}

.dm-page * {
  box-sizing: border-box;
}

.dm-page__title {
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size__large);
  margin: 0.5rem;
  padding: 0;
}

.dm-nav {
  padding: 0.25rem 0.5rem;
  background-color: var(--color__primary--light);
}

.dm-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.dm-nav__item {
  display: inline-block;
}

.dm-nav__link {
  text-decoration: none;
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-nav__link:hover {
  text-decoration: underline;
}

.dm-main {
  margin: 1rem 1rem;
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-button {
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border: none;
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
  background-color: white;
}

.dm-button:hover {
  background-color: var(--color__primary--dark);
  color: white;
}

.dm-form {
  padding: 0.25rem;
  background-color: var(--color__primary--light);
}

.dm-fieldset {
  margin: 0;
  border: none;
}

.dm-legend {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25rem 0.5rem;
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-radio {
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-label {
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-app-teaser .dm-title {
  color: var(--color__primary--dark);
  font-family: var(--font-family__body);
  font-size: var(--font-size);
}

.dm-layout {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.dm-layout__item--1 {
  width: 100%;
}

.dm-layout__item--2 {
  width: calc((100% - var(--flex-gap)) / 2);
  gap: var(--flex-gap);
}

.dm-layout__item--4 {
  min-width: 300px;
  width: calc((100% - 3 * var(--flex-gap)) / 4);
  gap: var(--flex-gap);
}

/*# sourceMappingURL=index.css.map */